.btn{
    width: 175px;
    height: 53px;
    color: #5c9ca8;
    border: 2px solid #5c9ca8;
    //border-radius:50%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 70px;
    &:hover{
        color: #fff;
        background-color:#5c9ca8;
        transition: 0.5s;
    }
}